/* your styles go here */

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/gilroy/Gilroy-Light.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy/Gilroy-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy/Gilroy-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy/Gilroy-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}

body, html {
    font-family: Gilroy, 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Gilroy-Medium, sans-serif;
}

@media (min-width: 992px) {
    .hero-text {
        font-size: 4rem !important;
    }
}

.navbar-brand img {
    height: 1em;
}

#services .row .col-lg-4 .bg-white {
    height: 155px;
}